/* Автор - Пряхин Игорь  ::  BART96  ::  Author - Prjakhin Igor */
/* Уважайте чужой труд.  ::  Respect other peoples work. */

::selection {background:rgba(0,0,0,.5) !important; color:aqua !important;}
/* ::-webkit-scrollbar {width:15px; }
::-webkit-scrollbar-track {box-shadow:inset 0 0 10px #ffffff; background:#214025;}
::-webkit-scrollbar-thumb {box-shadow:inset 0 0 6px #000000; background:#999999;} */


@font-face {font-family:'Roboto'; src:url(./font/Roboto-Medium.ttf) format('truetype');}


body {margin:0; padding:0; font-size:16px; background:#ffffff; font-family:Roboto;}

a {color:#ddd; text-decoration:none; transition:.2s; position:relative;}
a:hover {color:#fff;}
a:active {color:#ddd;}
a:before, a:after {content:''; position:absolute; display:block; height:1.5px; width:0; left:50%; bottom:0; background-color:white;}
a:before {transition:width .2s ease-in-out, left .2s ease-in-out;}
a:after {transition:width .2s ease-in-out;}
a:hover::before {width:50%; left:0;}
a:hover::after {width:50%;}



/* >>> Foundation <<< */

#app {display:flex; flex-direction:column; min-height:100vh;}
#app #loader {flex:1 0 auto;}
#app #content {flex:1 0 auto;}
#app #footer {flex:0 0 auto;}
#app > * > .container {max-width:940px; margin:0 auto; padding:0 30px;}


.black {background:black;}
.white {background:white;}
.gray {background:#cbcbcd;}
.red {background:#d74344;}
.green {background:#88c603;}

.color {
	width:22px;
	height:22px;
	border-radius:50px;
	box-shadow:0 0 2px black;
	display:inline-block;
	border-color:#eee;
	border-style:solid;
	border-width:0;
	margin:0 6px;
}

.status-exists:before {content:'В наличии';}
.status-expects:before {content:'Ожидается';}
.status-missing:before {content:'Нет в наличии';}



/* >>> Header <<< */

#header {background:rgb(40, 45, 49); text-align:center;}
#header .container {padding-top:10px;}
#header .container img {height:70px;}



/* >>> Content <<< */

#content .container > * {display:flex; justify-content:space-evenly; padding-top:20px;}
#content #title {font-weight:1240; font-size:30px;}

#content .container form {width:100vw; color:rgba(0,0,0,.5); margin:-10px;}
#content .container form .group {display:flex; justify-content:space-between;}
#content .container form .group > * {display:flex; width:100%; margin:20px 10px;}
#content .container form .group .statusColor {text-align:left; display:flex; justify-content:space-between; align-items:center;}
#content .container form .group button {border:none; background:#c40a31; color:white; font-weight:900; justify-content:center; text-transform:uppercase; width:100%; cursor:pointer; border-radius:5px;}
#content .container form .group label input:not([type="radio"]) {padding:15px; width:100%;}
#content .container form .group label span {padding:15px 10px 10px; pointer-events:none; position:absolute; transition:0.2s; transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1);}

#content .container #form input { border-width:2px; border-style:solid; border-color:#ccc; outline:none; transition:.5s;}
#content .container #form input:invalid {border-bottom-color:red;}
#content .container #form input:focus {border-bottom-color:black;}


#content .container form .group label input[type="radio"] ~ span,
#content .container form .group label input:focus + span,
#content .container form .group label input:not(:placeholder-shown) + span {transform:translateY(-100%) translateX(-20px); padding-left:20px;}

#content .container #table .caption {border-left:3px solid #8d9396; color:#282c30; padding-left:10px; margin-bottom:15px; text-transform:uppercase;}
#content .container #table .thead {background:#c40a31; color:white; border-radius:5px 5px 0 0;}
#content .container #table .tbody {background:#f5f7f6; color:#555;}
#content .container #table .tbody:last-child {border-radius:0 0 5px 5px;}
#content .container #table .tbody .action:before {content:'Удалить'; padding:5px 15px; border-radius:50px; transition:.2s; display:inline-block;}
#content .container #table .tbody .action:hover:before {background:#252a2e; color:white; cursor:pointer;}

#content .container #table {flex-direction:column;}

#content .container #table .table .name {grid-area:name;}
#content .container #table .table .addition {grid-area:addition;}
#content .container #table .table .year {grid-area:year;}
#content .container #table .table .color {grid-area:color;}
#content .container #table .table .status {grid-area:status;}
#content .container #table .table .price {grid-area:price;}
#content .container #table .table .action {grid-area:action;}

#content .container #table .table:last-child {border-bottom:1px solid #aaa;}
#content .container #table .table > * {
	border-top:1px solid #aaa;
	padding:15px;
	grid-gap:0 10px;
	display:grid;
	grid-template-rows:auto auto;
	grid-template-columns:1fr 60px 50px 110px 150px 90px;
	grid-template-areas:'name year color status price action'
						'addition . . . . .';
}


#content .container #table .price:after {content:' руб.';}
#content .container #table .addition {font-size:14px; opacity:.7}
#content .container #table .addition:not(:empty):before {content:'+Доп. опция: "';}
#content .container #table .addition:not(:empty):after {content:'"';}


input[type="radio"] {position:absolute; z-index:-1; opacity:0;}
input[type="radio"] + .color {transition:.2s; cursor:pointer;}
input[type="radio"]:checked + .color {box-shadow:0 0 15px black; height:18px; width:18px; border-width:2px;}




/* >>> Footer <<< */

#footer {background:rgb(40, 45, 49); color:white; text-align:center; padding:20px 0;}




@media screen and (max-width:700px) {
	#app > * > .container {padding:0 15px;}


	#header {background:rgb(40, 45, 49); text-align:left;}
	#header .container {padding-top:10px;}

	#content .container form {margin:0;}
	#content .container #form .group {flex-wrap:wrap; margin:0 -10px;}
	#content .container #form .group > * {flex:1 1; margin:20px 20px;}
	#content .container #form .group > *:first-child {flex:1 1 auto;}
	#content .container #form .group > * > * {margin:0 -10px;}
	#content .container #form .group > * > button {flex:1 1 auto;}

	#content .container #table {margin:0 -15px;}
	#content .container #table .caption,
	#content .container #table .thead {display:none;}
	#content .container #table .tbody {
		padding:15px 15px 10px;
		display:grid;
		grid-gap:10px;
		grid-template-rows:auto auto auto auto;
		grid-template-columns:minmax(100px, 1fr) 1fr 50px 160px;
		grid-template-areas:'name name color price'
							'addition addition addition addition'
							'year status . action';
	}

	#content .container #table .tbody .action:before {background:#252a2e; color:white; cursor:pointer;}
}
